html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#nav-body-ctrls {
    background-color: white;
    padding: 10px 20px 5px;
    font-family: arial;
}

#nav-body-views {
    flex: 1;
}

.nav-icons {
    fill: rgba(17, 17, 17, 0.4)!important;
    border-radius: 3px;
    transition: background-color 0.25s ease-in;
}

.nav-icons:hover {
    background: rgba(17, 17, 17, 0.1)!important;
}

#nav-ctrls-back,#nav-ctrls-forward,#nav-ctrls-reload {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

#nav-ctrls-url{
    display: none;
}

#nav-body-views > * {
    display: none!important;
}

#nav-body-views > *:last-child {
    display: flex!important;
}

#loader {
    width: 100%;
    height: 100%;
    flex: 1;
}



.circular {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.loading-title {
    text-align: center;
    margin-bottom: 25px;
    font-family: Roboto, "Helvetica Neue", sans-serif
}

.showbox {
  margin: auto;
}

.loader {
    position: relative;
    margin: 0 auto;
    width: 100px
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%
}

.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    margin: auto
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke: #FF0000;
    stroke-linecap: round
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px
    }
}
